#mainDiv {
    height: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    border: 2px red solid;
    border-radius: 30px;
  }

  #opis{
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 40px;
    border: 2px red solid;
    align-content: center;
  }
  
  .indexButton {
    border: 2px red solid;
    border-radius: 30px;
    padding: 17px;
    justify-content: center;
    align-content: center;
  }

  .btn {
    border-radius: 20px;
  }

  .btn:hover {
    background-color: white; 
    color: red;
  }

  #podnaslov{
    text-align: center;
  }

  #unosTima{
    border: 2px blue solid;
    background-color: lightblue;
    align-items: center;
    display: grid;
    grid-row: auto auto auto;
    justify-content: center;
  }

  #podnaslovUnos{
    text-align: center;
    color: blue;
  }

  #tim, #igrac1, #igrac2{
    border: 2px blue solid;
    background-color: lightyellow;
    border-radius: 30px;
    padding: 17px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }

  #sacuvajTimBtn{
    border: 2px blue solid;
    border-radius: 30px;
    padding: 17px;
    text-align: center;
    background-color: yellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }

  #ivonaPozadina{
    background-color: white;
  }

  #tabela{
    justify-content: center;
    align-content: center;
  }

  #zaglavlje{
    justify-content: center;
    align-content: center;
    text-align: center;
    display: grid;
  }

  #igrajBtn{
    border: 3px red solid;
    border-radius: 30px;
    padding: 17px;
    text-align: center;
    background-color: greenyellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: red;
  }

.buttonBack {
  position: sticky;
  margin-left: 10px;
  margin-bottom: 10px;
}


  

